    <div class="panel panel-default sidebar-wrapper">

      <div class="sidebar-header">
        Keep in touch
      </div>
      <div class="sidebar-content text-center">
        <ul class="list-unstyled list-inline">
          <li>
            <a class="btn btn-follow follow-facebook" href="https://www.facebook.com/StartupDecode" target="_blank"><i class="fa fa-facebook"></i></a>
          </li>

          <li>
            <a class="btn btn-follow follow-twitter" href="https://twitter.com/startupdecode" target="_blank"><i class="fa fa-twitter"></i></a>
          </li>

          <li>
            <a class="btn btn-follow follow-youtube" href="https://www.youtube.com/user/startupdecode" target="_blank"><i class="fa fa-youtube"></i></a>
          </li>

          <li><a class="btn btn-follow follow-google" href="https://plus.google.com/u/0/b/102647492508846401173/102647492508846401173/posts" target="_blank"><i class="fa fa-google-plus"></i></a>
          </li>
        
        </ul>
     
      </div>

    </div>