
<!-- begin:about -->
<div id="about">
  <div class="container lead text-justify text-left" id="benefit">
    

    <div class="row">
     <div class="col-md-4 col-sm-4 col-xs-8 col-md-offset-4 col-sm-offset-4 col-xs-offset-1" id="hover-cap-4col">

       <div class="caption">
        <%= image_tag("img/me.jpg", class: "avatar img-responsive img-circle", width: "280", alt: "just me") %>
      </div>

      <%= image_tag("img/profile.jpg", class: "avatar img-responsive img-circle", width:"280", alt:"just me") %>

    </div>
  </div>

  <br>              
  <br>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 about-header text-justify text-left">
     <!-- <img src="img/computer.png" class="img-responsive"> -->

    <p class="lead text-justify text-left">
     Le logiciel est entrain de dévorer le monde. Tous les secteurs vivent leur mutation num&eacute;rique. <a href="http://startupdecode.com">StartupDecode</a> est le fruit de ma passion pour la programmation et l'&eacute;conomie num&eacute;rique. 
     <br>J'essaie d'y participer à mon echelle avec une ligne directrice: faire des produits remarquables, apprendre perpetuellement, avoir un impact positif et s’amuser.
      <br>
      Mes principales activit&eacute;s sont la formation, le consulting, le coaching et la communaut&eacute;.
   
    </p>

      <div class="row text-justify text-left font-size-18">

              <div class="col-md-6 col-sm-6">
                <h3>Formation</h3>
                <p>De nos jours, avoir une base en programmation est aussi important qu’avoir une base en math&eacute;matique. Sur le site <a href="http://startupdecode.com">StartupDecode</a> je propose des cours pratiques pour apprendre &agrave; coder des applications web avec Ruby on Rails, d&eacute;stin&eacute;s &agrave; toute personne n’ayant pas un bagage technique et qui aimerait prototyper une id&eacute;e de startup.</p>
              </div>

              <div class="col-md-6 col-sm-6">
                <h3>Consulting</h3>
                <p>
                   De la startup &agrave; la multinationale, j’interviens en tant que développeur freelance l&agrave; o&ugrave; r&egrave;gne l’esprit d’innovation, l’agilit&eacute; et l’am&eacute;lioration continue. 
                   <br>Mon savoir faire s’articule autour de trois environements: le framework AngularJS, Ruby on Rails  et Java notamment avec le framework Spring.
                </p>
              </div>
            </div>

          <div class="row text-justify text-left font-size-18">
              <div class="col-md-6 col-sm-6">
                <h3>Coaching</h3>
                <p>
                  J'accompagne r&eacute;guli&egrave;rement des jeunes entrepreneurs souhaitant r&eacute;aliser une application web. Durant une séance d'une heure ou plus en one-to-one, je les guide dans leurs choix technologiques et les aide &agrave; concevoir une premi&egrave;re version de leur produit.
                </p>
              </div>
              <div class="col-md-6 col-sm-6">
                <h3>Communaut&eacute;</h3>
                <p>
                  Le partage est un pillier de la culture des développeurs.   
            J’anime régulièrement des <a href="http://www.meetup.com/startupdecode/" target="_blank">workshops</a> autour de l'apprentissage du code.
      
            Je participe également à de noubreux meetups et hackathons pour challenger mes connaissances et apprendre au contact d’autres passionés.

                </p>
              </div>
            </div>


     <br>

  <p class="lead text-justify text-left scroll-ref">
    Si tu as une question ou une sugg&eacute;stion, &eacute;cris-moi un email &agrave; l'adresse hello @startupdecode.com. J’y re&eacute;ponderai avec grand plaisir. Si tu es l&agrave; par curiosit&eacute;, bonne navigation sur le site. Si tu souhaites devenir client, j'en serais ravis.
    Quoi qu'il en soit, bienvenue dans le monde du code. Bienvenue sur <a href="http://startupdecode.com">StartupDecode</a>.
  </p>





  <div class="lead pull-right"> 
    <br>
    Amine Sadry
    <br>Founder & Developer 
    <br>
    <br>

    <div class="pull-right">
      <a href="https://github.com/donaminos" target="blank"><i class="fa fa-github"></i></a>
      <a href="https://twitter.com/donaminos" target="blank"><i class="fa fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/aminesadry" target="blank"><i class="fa fa-linkedin"> </i></a>
       
    
   </div>
 </div>

</div>
</div>


</div>
</div>
<!-- end:about -->


