
       <!-- begin:about -->
       <div id="about">
        <div class="container" id="benefit">
        

        <div class="row">
         <div class="col-md-4 col-sm-4 col-xs-8 col-md-offset-4 col-sm-offset-4 col-xs-offset-1" id="hover-cap-4col">

           <div class="caption">
            <%= image_tag("img/me.jpg", class: "avatar img-responsive img-circle", width: "280", alt: "just me") %>
          
          </div>

<%= image_tag("img/profile.jpg", class: "avatar img-responsive img-circle", width:"280", alt:"just me") %>

        </div>
      </div>

      <br>              
      <br>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 about-header text-justify text-left">
         <!-- <img src="img/computer.png" class="img-responsive"> -->


         <p class="lead text-justify text-left">
          J'ai voulu faire de ces vid&eacute;os plus qu'un simple cours de programmation: j'ai voulu que ça soit une immersion dans le quotidien d'un d&eacute;veloppeur, entre plaisir de cr&eacute;ation et frustration d'incompr&eacute;hension. 
        </p>

        <p class="lead text-justify text-left">
         J'ai pris le parti d'utiliser mon projet de startup comme cas pratique, car le meilleur apprentissage se fait à travers l'exp&eacute;rience r&eacute;elle, et l'exp&eacute;rience s'enrichit par celle des autres. Le code est un apprentissage perp&eacute;tuel tout au long de la vie. J'apprends énormément des gens que je rencontre lors des hackathons et des meetups, j'espère apprendre à ton contact &eacute;galement.
       </p> 

       <p class="lead text-justify text-left">
        A la fin de cette formation tu seras capable de coder une application web et de la d&eacute;ployer dans le cloud. Tu auras &eacute;galement acquis une culture technologique suffisante pour être à l'aise dans ce milieu et continuer à explorer ce monde merveilleux. Ce monde d'opportunit&eacute;s, o&ugrave; le changement soci&eacute;tal est au bout de quelques lignes de code. 
        </p>

       <p class="lead text-justify text-left scroll-ref">
        Bienvenue dans le monde du code. Bienvenue dans <a href="#subscribe">StartupDecode</a>.
      </p>





      <div class="lead pull-right"> 

        <br>
        Amine Sadry
        <br>
        D&eacute;veloppeur Web
        <br>
        <br>

        <div class="pull-right">
         <a href="https://twitter.com/donaminos" target="blank"><i class="fa fa-twitter"></i></a>
         <a href="https://www.linkedin.com/in/aminesadry" target="blank"><i class="fa fa-linkedin"></i></a>
       </div>

     </div>
     <div class="lead pull-right">
       <ul class="list-inline social-icon ">
        <li>
        </ul>
      </div>

    </p>
  </div>
</div>



</div>
</div>
<!-- end:about -->
