
    <!-- begin:slider -->
    <div id="home">
      <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">

        <div class="carousel-inner">
          <div class="item active home-bkg">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="carousel-content">
                    <h3 class="animated fadeInUpBig text-center text-black"> 
                      Apprends à <span class="text900">coder</span> une application web 
                      <br>avec
                      <span class="text900" style="cursor:pointer;cursor: and;" class="text900" data-toggle="tooltip" data-placement="bottom" title="Langage de programmation populaire, utilis&eacute; par des startups comme twitter, airbnb, grupon..." rel='tooltip'>Ruby on Rails</span>,

                      et lance ta <span class="text900">startup</span>.
                    </h3>
                    <p class="animated rollIn text-black text-center scroll-ref">

                      <br><br> <a href="#service" class="btn btn-transparent-black btn-lg">Learn more</a></p>  
                    </div>

                  </div> 
                </div>
              </div>
            </div>


          </div>

        </div>

      </div>
      <!-- end:slider -->

      <!-- begin:featured -->
      <div id="featured">
        <div class="container" id="service">
          <div class="row">
            <div class="col-md-12">
              <div class="heading-title">
                <h2>SERVICE</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 col-md-push-7">
              <%= image_tag("img/alldevice.png", class: "img-responsive" ) %>
           
            </div>
            <div class="col-md-7 col-md-pull-5">
              <div class="row">
                <div class="col-md-12">
                  <h2><i class="fa fa-film text-orange-bis"></i> Des cours vid&eacute;os</h2>
                  <p>Les cours sont au format tutoriel vid&eacute;o. Ils expliquent &eacute;tape par &eacute;tape comment cr&eacute;er une application web r&eacute;elle et comment la d&eacute;ployer dans le cloud. Ces cours abordent à la fois des concepts comme le mod&egrave;le MVC, le responsive design ou le big data, ainsi que le code source en lui même, qui est disponible au t&eacute;l&eacute;chargement.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <h3><i class="fa fa-group text-green-bis"></i> Pour n&eacute;ophytes du code</h3>
                  <p>
                    Ces cours s’adressent à toute personne NON d&eacute;veloppeur, qui souhaite apprendre à coder en allant à l'essentiel, sans se perdre dans les cours acad&eacute;miques.
                    Cette formation est parfaite pour porteurs de projets de startup au profil business.
                  </p>
                </div>
                <div class="col-md-6 col-sm-6">
                  <h3><i class="fa fa-code text-blue-bis"></i> Pour coder un <span style="cursor:pointer;"data-toggle="tooltip" data-placement="bottom" title="La version minimale fonctionnelle de ton produit de startup." rel='tooltip'>MVP</span></h3>
                  <p>
                    Nous allons adopter le hacker mindset: sans devenir ing&eacute;nieur en informatique, nous allons coder ensemble un Minimum Viable Product pour un projet de startup r&eacute;el. Tous ce que nous allons voir sera directement applicable à ton projet personnel.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end:featured -->


      <!-- begin:featured-text -->
      <div id="featuredtext" class="mouvement-bkg">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="featured-content scroll-ref">
                <h1><b>Rejoins le mouvement: do it yourself!</b></h1>
                <br>
                <a href="#subscribe" class="btn btn-transparent-white btn-lg">Get Started</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end:featured-text -->


      <!-- begin:overview -->
      <div id="overview">
        <div class="container" id="program">
          <div class="row">
            <div class="col-md-12">
              <div class="heading-title">
                <h2>PROGRAM</h2>
              </div>
            </div>
          </div>
        
          <div class="row">
  
           <div class="col-md-8 col-md-offset-2" >
            <div class="row">
              <div class="col-md-12">
                <h2><i class="fa fa-info-circle text-blue"></i> Overview</h2>
                <p>
                  Le point de d&eacute;part de cette formation, comme beacoup de projets de startup, est une id&eacute;e: organiser les contenus d'apprentissage disponible sur le web, afin d'avoir des parcours structur&eacute;s et complets pour acquérir une connaissance donn&eacute;e.</p>
                <p>
                  A partir de cette id&eacute;e nous allons explorer &eacute;tape par &eacute;tape les technos, faire des choix, tester des choses et surtout beacoup coder, pour avoir la première version de ce produit d&eacute;ploy&eacute;e dans le cloud.
                  <p>
                    A la fin de cette formation tu vas avoir toutes les billes pour mener à bien un projet d'application web.
                    </p>
                      <p>
                        Voici une liste (non exhaustive) des t&eacute;chnologies abord&eacute;es: 
                      </p>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-md-4 col-sm-6">
                      <div class="about-article">
                        <h3><i class="step icon-ruby-on-rails-alt text-red icon-size-30"></i> Ruby on Rails</h3>
                        <p>
                          D&eacute;velopper une application web moderne avec l'une des technologies les plus en vogue auprès des startups.
                        </p>
                      </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                      <div class="about-article">
                        <h3><i class="fa fa-html5 text-orange icon-size-30"></i> HTML & CSS</h3>
                        <p>Apprendre les fondamentaux du web, et cr&eacute;er les premi&egrave;res pages d'un site web avec HTML et CSS .</p>
                      </div>
                    </div>



                    <div class="col-md-4 col-sm-6">
                      <div class="about-article">
                        <h3><i class="icon-javascript text-yellow icon-size-30"></i> Javascript</h3>
                        <p>D&eacute;couvrir javascript et son ecosystème (jQuery, Angular, Node...) pour r&eacute;aliser des applications plus interactives.</p>
                      </div>
                    </div>


               

                    <div class="col-md-4 col-sm-6">
                      <div class="about-article">
                        <h3><i class="fa fa-git-square text-orange-bis icon-size-30"></i> Git & Github </h3>
                        <p>
                         Maitriser la partie la plus m&eacute;connue du grand public, et indispensable à tout projet informatique: la gestion du code source avec git.
                       </p>
                     </div>
                   </div>

                   <div class="col-md-4 col-sm-6">
                    <div class="about-article">
                      <h3><i class="icon-heroku text-purple icon-size-30"></i> Heroku</h3>
                      <p>Comprendre les diff&eacute;rents clouds existants (IaaS, PaaS, SaaS) et d&eacute;ployer une application sur la plateforme de cloud Heroku.</p>
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-6">
                    <div class="about-article">
                      <h3><i class="icon-css text-pink icon-size-30"></i> Bootstrap</h3>
                      <p>Maitriser la baguette magique pour r&eacute;aliser de belles interfaces, sans &ecirc;tre un designer professionnel.</p>
                    </div>
                  </div>

                </div>


              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- end:overview -->



      <!-- begin:featured-text -->
      <div id="featuredtext" class="glory-bkg">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="featured-content scroll-ref">
                <h1><b>As-tu connu les trente glorieuses ?!
                 <br>Veux-tu rater la r&eacute;volution num&eacute;rique ?!</b></h1><br>
                 <a href="#subscribe" class="btn btn-transparent-white btn-lg">Get Started</a>
               </div>
             </div>
           </div>
         </div>
       </div>
       <!-- end:featured-text -->


<!-- begin:subscribe -->
<div class="subscribe" id="subscribe">
  <div class="container">

    <div class="row">
      <div class="heading-title">
        <h2>SIGN UP</h2>
      </div>
    </div>

    <div class="row">

      <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-3 col-sm-offset-2">

        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
        <form action="http://startupdecode.us3.list-manage1.com/subscribe/post?u=82c88fc0b30bd6162bbc0208b&amp;id=109bb71f8a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate role="form">
   

        <div class="mc-field-group form-group col-md-5 col-sm-6 col-xs-12">
          <label for="mce-FNAME" class="sr-only">First Name </label>
          <input type="text" value="" name="FNAME" class="form-control input-lg" id="mce-FNAME" placeholder="First Name">
        </div>
        <div class="mc-field-group form-group col-md-5 col-sm-6 col-xs-12">
          <label for="mce-LNAME" class="sr-only">Last Name </label>
          <input type="text" value="" name="LNAME" class="form-control input-lg" id="mce-LNAME" placeholder="Last Name">
        </div>

        <div class="mc-field-group form-group col-md-10 col-sm-12 col-xs-12">
          <label for="mce-EMAIL" class="sr-only">Email Address  <span class="asterisk">*</span>
        </label>
          <input type="email" value="" name="EMAIL" class="required email form-control input-lg" id="mce-EMAIL" placeholder="Email Address">
        </div>

          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_82c88fc0b30bd6162bbc0208b_109bb71f8a" tabindex="-1" value=""></div>
            <div class="clear form-group col-md-10 col-sm-12 col-xs-12">
              <!--<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-lg btn-subscribe pull-right fa fa-rocket"> -->

               <button type="submit" class="btn btn-lg btn-subscribe pull-right"><i class="fa fa-rocket">&nbsp;</i> Lance-toi</button>
            </div>
        </form>
        </div>

        <!--End mc_embed_signup-->

    </div>
  </div>
</div>
</div>
<!-- end:subscribe -->
