

<div class="container">
	<div class="row">
   <div class="col-md-10 col-md-offset-1 panel panel-default post-container" >

    <!-- First Blog Post -->
    <h2 class="text-blue">
     Mentions légales
    </h2>
    <hr>

    <div class="post-content text-justify">
      <p>  Texte des mentions légales</p>
    </div>



  
  

  </div>
</div>
</div>

