
		

		<h1>Editing lesson</h1>

		<%= render 'form' %>

		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<%= link_to 'Show', @lesson, class: "btn btn-info" %>
				<%= link_to 'Back', course_lessons_path(@lesson.course), class: "btn btn-default" %>
				</div>
				
			</div>
		</div>

