<h1>Editing course</h1>

<%= render 'form' %>

<div class="container">
	<div class="row">
		<%= link_to 'Show', @course, class: "btn btn-info" %> 
		<%= link_to 'Back', courses_path, class: "btn btn-default" %>
	</div>
</div>

