@import "bootstrap-sprockets";
@import "bootstrap-custom";
@import "font-mfizz";
@import "sd-theme";
@import "welcome";

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('/assets/glyphicons-halflings-regular.woff') format('woff'), 
       url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('/assets/fontawesome-webfont.eot?v=4.1.0');
  src: url('/assets/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), 
  url('/assets/fontawesome-webfont.woff?v=4.1.0') format('woff'), 
  url('/assets/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), 
  url('/assets/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FontMfizz";
  src: url("/assets/font-mfizz.eot");
  src: url("/assets/font-mfizz.eot?#iefix") format("embedded-opentype"),
       url("/assets/font-mfizz.woff") format("woff"),
       url("/assets/font-mfizz.ttf") format("truetype"),
       url("/assets/font-mfizz.svg#font-mfizz") format("svg");
  font-weight: normal;
  font-style: normal;
}
