// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-container{
	padding:50px;
}
.post-content{
	margin-bottom:70px;
}
.post-content p,.post-teaser p{
	font-size: 18px !important;
	margin-bottom: 20px !important;
	font-weight: 200 !important;
	line-height: 1.4 !important;
}

.post-image img {
	width:640px;
	display: block;
    margin-left: auto;
    margin-right: auto 
}


.post-header-line { 
	border-top:1px solid #DDD;
	border-bottom:1px solid #DDD;
	padding:5px 2px 5px 5px;
	font-size: 14px; 
	margin-bottom: 30px;
}
.sidebar-wrapper{
	padding:10px;
}
.sidebar-header{
	font-size: 18px;
	border-bottom:1px solid #DDD;
	padding:5px ;
	margin-bottom:10px;
}
.sidebar-content{

}

.btn-follow {
  font-size: 20px;
  color:white

}
.btn-follow:hover {
  color:white

}
.follow-google {
  background-color: #da573b;
  border-color: #be5238;
}
.follow-google:hover{
  background-color: #be5238;
  border-color: #9b4631;
}
.follow-youtube{
	background-color: #cc181e;
	border-color: #9b4631;
}
.follow-youtube:hover{
	background-color: #B81117;
	border-color: #9b4631;
}

.follow-twitter {
  background-color: #1daee3;
  border-color: #3997ba;
}
.follow-twitter:hover {
  background-color: #3997ba;
  border-color: #347b95;
}

.follow-facebook {
  background-color: #4c699e;
  border-color: #47618d;
}
.follow-facebook:hover {
  background-color: #47618d;
  border-color: #3c5173;
}
