// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

body{
	background-color:#F6F9F9;
}
.color-purple{
	color:#484073;
}
.panel-google-plus {
    position: relative;
    border-radius: 0px;
    border: 1px solid rgb(216, 216, 216);
/*font-family: 'Roboto', sans-serif;*/
}

.panel-google-plus > .panel-google-plus-tags {
    position: absolute;
    top: 35px;
    right: -3px;
}
.order-bkg{
	 background-color:#13987E;
	 color:#fff;
	 border-radius: 0px;
}


.panel-google-plus > .panel-heading {
    background-color: rgb(255, 255, 255);
    border-width: 1px; 
}

.panel-google-plus > .panel-heading { 
    padding-bottom: 5px; 
}

.panel-google-plus > .panel-heading > h3 {
    margin: 0px;
    font-size: 14px;
    font-weight: 700;
}
.panel-google-plus > .panel-heading > h5 {
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
}
.panel-google-plus > .panel-body {
    padding-top: 5px;
    font-size: 13px;
}

.panel-google-plus > .panel-footer {
    background-color: rgb(255, 255, 255);
    border-width: 0px; 
}
.panel-google-plus > .panel-footer {
    font-size: 14px;
    font-weight: 700;
    min-height: 60px;
}
.btn-primary,
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
color: #fff !important;
/*background-color: #484073;
border-color: #403966;*/
background-color:#13987E;
border-color:#13987E;
 border-radius: 2px;

}

