// Place all the styles related to the Lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bg-light {
padding: 10px 15px;
margin-bottom: 10px;
background: #fcfcfc;
border: solid 1px #e5e5e5;
}
.padding-right-30 {
	padding-right:30px !important;
}

.lesson {
 /* color: #2c3e50;	*/
  color: #212834;
}